html {
  font-size: var(--font-size-root);
  min-height: 100%;
  direction: ltr;
}

body {
  overflow: auto;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  min-height: 100%;
  position: relative;

  @media print {
    background: none;
  }
}

body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: .3s background;
}

body *::-webkit-scrollbar-thumb {
  background: $gray-400;
}
body *:hover::-webkit-scrollbar-thumb {
  background: $gray-500;
}

noscript {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  padding: 2rem;
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  text-align: center;
}

[role="button"] {
  cursor: pointer;
}

[disabled], .disabled {
  pointer-events: none;
}

[contenteditable]:not(div) {
  border-bottom: 1px dashed var(--primary);

  &:hover {
    cursor: pointer;
  }
}

[data-page-body] {
  :target:before {
    content: "";
    display: block;
    height: 5px;
    margin: -5px 0 0;
  }
}

:target:before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

pre {
  padding: 0;
}
