.v-table {
  &__striped {
    border-bottom: none !important;

    table.table {
      tbody {
        tr:not(:last-child) {
          border-bottom: none !important;
        }

        tr:nth-of-type(odd):not([active=true]) {
          background-color: $material-theme.alternate-color;
        }
      }
    }
  }

  .table--ellipsis {
    max-width: 21.43em; //300px
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
    padding: 0.93em !important; //13px
  }
}
