h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family;
}

// Font
.font-size,
.content-size {
  for i in (2..40) {
    &-{i} {
      zoom: (i * 0.01) + 1;
      -moz-transform: scale(i * 0.1 + 1);
      -webkit-transform-origin: 0 0;
         -moz-transform-origin: 0 0 !important;
              transform-origin: 0 0;
    }
  }

  &-1 {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
  }

  &--1 {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
  }
}

// Title
.title {
  font-family: $primary-font-family;
  font-weight: bold;
}

.primary-title {
  // font-size: $input-font-size * 1.5em !important;
  font-family: $primary-font-family;
  &input {
    // height: $input-height * 2em !important;
  }
}

.heading,
.headline {
  font-size: $font-size-root * 1.714em;
}

.subheading {
  font-size: $font-size-root * 1.143em;
}
