.sidebar {
  &-background {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center left !important;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background: none;
      box-sizing: border-box;
    }

    &.theme--light {
      &::before {
        background-color: linear-gradient(alpha($material-theme.cards, 0.85), alpha($material-theme.cards, 0.85));
      }
    }

    &.theme--dark {
      &::before {
        background-color: linear-gradient(alpha($material-theme.cards, 0.65), alpha($material-theme.cards, 0.85));
      }
    }
  }

  .list {
    background: transparent;
  }
}
