.v-btn {
  text-transform: capitalize;
  font-weight: 500;

  &--gradient {
    background: linear-gradient(45deg, #A97AF2 0%, #dba1f7 100%); // purple
    // background: linear-gradient(45deg, #e56590 0%, #ffb88c 100%); // pink-orange
    // background: linear-gradient(45deg, #3e75c8 0%, #4ccbab 100%); // blue-green
  }
}
