.v-expansion-panel {
  .v-expansion-panel__container {
    .v-expansion-panel__header {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }
  }
}

.v-expansion-panel
  .v-expansion-panel__container
    .v-expansion-panel__header:first-child {
    // margin-top: 0 !important;
    // padding-top: 23px !important;
}
