html {
  overflow-y: auto;
}

.text--ellipsis, .title__text--ellipsis {
  display: -webkit-box;
  max-width: 100%;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
