$icon := {
  mini: 1.563em,      //25px
  small: 2.125em,     //34px
  medium: 2.813em,    //45px
  large: 3.500em,     //56px
  xlarge: 7.000em,    //112px
}


.icon

  &--mini {
    font-size: $icon.mini;
  }

  &--small {
    font-size: $icon.small;
  }

  &--medium {
    font-size: $icon.medium;
  }

  &--large {
    font-size: $icon.large;
  }

  &--xlarge {
    font-size: $icon.xlarge;
  }

