.list {
  &--striped {
    > :nth-of-type(odd):not(.subheader) {
      background-color: $material-theme.alternate-color;
    }
  }
}

.list__tile--active {
  font-weight: bolder;
}

.list__group__header {
  &--active {
    .list__tile--active .list__tile__title {
      font-weight: bolder;
    }
  }
}
