.progress-bar .v-progress-linear__bar__determinate {
  // background: linear-gradient(to right, #e56590, #ffb88c);
  // background: linear-gradient(to right, #3e75c8, #4ccbab);
  background: linear-gradient(to right, $primary, $secondary);
}

.glance__card--gradient {
    /*background: linear-gradient(45deg, #e56590 0%, #ffb88c 100%);*/
    /*background: linear-gradient(45deg, #3e75c8 0%, #4ccbab 100%);*/
    background: linear-gradient(45deg, #686AF3 0%, $secondary 100%);
  }
