.v-toolbar {

  &__content {
    padding: $padding.base;
  }

  &__main {
    border-bottom: solid 1px rgba(0,0,0,.05);
    border-top: solid 1px rgba(0,0,0,.05);
  }
}

.utilitybar {
  border-bottom: 1px solid rgba(0,0,0,.05) !important;
}

.toolbarMenu {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .v-toolbar__content {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
