@import '~vuetify/src/stylus/settings/_theme'

$primary-font-family = Noto Sans, Roboto, sans-serif;
$body-font-family = Noto Sans, Roboto, sans-serif;

// Material Light
$material-light.primary-text-percent = .75; // .75;
$material-light.secondary-text-percent = .50;
$material-light.disabledORhints-text-percent = .38;
$material-light.dividers = rgba(#000, .05);
$material-light.table.hover = rgba(#000, .15);

$material-light.text.primary = rgba(#000, $material-light.primary-text-percent); // .75;
$material-light.text.secondary = rgba(#000, $material-light.secondary-text-percent); // .75;
$material-light.text.disabled = rgba(#000, $material-light.disabledORhints-text-percent); // .75;

$material-light.table.hover = rgba(#000, .05);
$material-light.text.link-hover = rgba(#000, .05);
$material-light.divider-percent = .05;
$material-light.alternate-color = rgba($theme.primary, .05);

// Material Dark
$material-dark.app-bar = #1E262B;
$material-dark.background = #222c32;
$material-dark.cards = #2b343a;
$material-dark.dividers = rgba(#000, .05);
$material-dark.table.hover = rgba(#000, .15);
$material-dark.table.active = rgba(#000, .15);

$material-dark.text.primary = rgba(#fff, $material-dark.primary-text-percent); // .75;
$material-dark.text.secondary = rgba(#fff, $material-dark.secondary-text-percent); // .75;
$material-dark.text.disabled = rgba(#fff, $material-dark.disabledORhints-text-percent); // .75;

$material-dark.text.link = $theme.primary;
$material-dark.text.link-hover = rgba(#fff, .05);
$material-dark.divider-percent = .05;
$material-dark.alternate-color = rgba(#fff, .025);
