@import '~vuetify/src/stylus/settings/_variables'

// Fonts
$font-size-root = 16px;
$font-size := {
  base: $font-size-root
}

// Headings
$headings.body-2 = {
  size: $font-size-root,
  weight: 500
}

$headings.body-1 = {
  size: $font-size-root,
  weight: 400
}

$headings.button.size = $font-size-root;

// Buttons
$button-font-size = $font-size-root;

// Snackbars
$snackbar-color := #fff
$snackbar-background-color := $material-dark.card
$snackbar-corner-offset := 24px

// Inputs
$input-group := {
  autofill-color: #f9ffbf
}
