.btn {
  cursor: pointer;
  font-weight: $font-weight-normal;
  font-size: px2rem(15px);
  min-width: px2rem(38px);
  border-radius: $border-radius;

  &-accent {
    @include button-variant($accent, $input-border-color);
  }

  &-secondary {
    @include button-variant($secondary, $input-border-color);
  }

  &-success {
    @include button-variant($success, $input-border-color);
  }

  &-icon, &-link {
    background-color: transparent;
    box-shadow: none;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    box-shadow: none;
  }
}
