body.fancy {
  background-color: var(--primary);

  #app, .app {
    @extends .bg-primary;
    transition: all 0.3s cubic-bezier(0.45, 0, 0.32, 1);

    &.active {
      .workspace {
        overflow-x: hidden;
        margin: 4rem 2rem;
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: 5px;
        box-shadow: 0 -5px 20px rgba(0,0,0,0.05);
      }
    }
  }
}
