$sidebar-dropdown-divider-color: rgba(0,40,100,.12);
$sidebar-width-full: 250px;
$sidebar-width-min: 50px;
$sidebar-brand-height: 40px;
$transition-base-alt: all 0.3s cubic-bezier(0.45, 0.1, 0.32, 1);

.sidebar {
  background: var(--sidebar-bg);
  color: var(--body-color);
  margin-left: -$sidebar-width-full;
  max-width: $sidebar-width-full;
  min-height: 100vh;
  min-width: $sidebar-width-full;
  overflow-y: auto;
  transition: $transition-base;

  &.active {
    margin-left: 0;
  }

  &--hidden,
  &-hidden {
    margin-left: -$sidebar-width-full;
  }

  &-header {
    display: block;
    padding: $padding-base ($padding-base * 2);
  }

  &-footer {
    margin: 0 auto;
    display: block;
    padding: $padding-base;
  }

  &-title {
    font-size: $font-size-base;
    font-family: $font-family-base;
    margin-bottom: 0;
  }

  &-nav {
    @extend .list-group;
    background: transparent;
    margin-bottom: 0;
  }

  &-item {
    @extend .list-group-item;
    @include border-radius;
    align-items: center;
    background: transparent;
    border: none;
    color: inherit;
    display: flex;
    width: 100%;

    &:hover {
      color: rgba(var(--primary), .5);
      text-decoration: none;
    }

    &.active, &:hover {
      background: transparent;
      color: var(--primary);
    }
  }

  &-content {
    padding: $padding-base;
    height: 100%;

    .sidebar-nav {
      .sidebar-item,
      .list-group-item {
        border: 2px;

        &.active {
          font-weight: normal;
        }

        &.list-group-separator {
          padding: 0;
          margin: $list-inline-padding auto;
          border-radius: 0;
          height: .8rem;
          border: none;
          background: transparent;
        }
      }

      .sidebar-dropdown-menu {
        top: 0 !important;
        height: 0;
        overflow: hidden;
        transition: $transition-base-alt;
        border: none;
        padding-left: 1.5rem;

        &.show {
          height: auto;
          position: relative !important;
          transform: none !important;
        }

        .sidebar-dropdown-item {
          padding-top: .5rem;
          padding-bottom: .5rem;
          position: relative;
          &.active {
            background: transparent;
            color: var(--primary);
          }

          &:hover, &:active, &:focus {
            background: transparent;
            color: var(--primary);
          }

          .icon, &-icon {
            // margin-left: -1.5rem;
          }

          &:before, &:after {
            content: '';
            position: absolute;
          }

          &:after {
            border-left: 1px dashed $border-color;
            top: -50%;
            left: 0;
            height: 100%;
            width: 1px;
          }

          &:before {
            border-bottom: 1px dashed $border-color;
            width: 12px;
            height: 1px;
            top: 50%;
            left: 0;
            display: block;
            position: absolute;
          }
        }
      }

      .dropdown-toggle {
        position: relative;

        &:after {
          content: '';
          display: none;
        }
      }
    }
  }

  &-dropdown {
    background: transparent;

    &-toggle {
      .sidebar-toggle-icon {
        transform-origin: center center;
        transition: $transition-base;
        transform: rotate(0deg);
      }

      &[aria-expanded=true] .sidebar-toggle-icon {
        transform: rotate(180deg);
      }
    }

    &-item {
      @extend .dropdown-item;
      white-space: normal;
      text-overflow: inherit;
    }

    &-divider {
      @extend .dropdown-divider;
      border-top: 1px dashed $sidebar-dropdown-divider-color;
    }
  }

  &-group-item {
    @extend .list-group-item;

    &.active, &:hover {
      background: transparent;
      color: var(--primary);
    }
  }

  &-dropdown-item,
  &-item-link {
    color: var(--body-color);
  }

  &-group-separator {
    color: var(--text-muted);
    margin-top: $spacer;
    padding: 0 $spacer;
  }

  &-dropdown-divider {
    border-top: 1px dashed $border-color;
    margin-right: 2rem;
    margin: 0;
  }

  ~ .workspace {
    transition: all 0.3s cubic-bezier(0.45, 0.1, 0.32, 1);
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    // Reverse the active state.
    // If sidebar has active class on `md` and down
    // it means it's hidden.
    & {
      background-color: var(--sidebar-bg);
      margin-left: 0;
      z-index: 999;
      ~ .workspace {
        overflow-y: auto;
        min-width: 100vw;
      }

      &-fixed ~ .workspace {
        margin-left: 0;
        transform: translateX($sidebar-width-full);
      }
    }

    // Should hide the sidebar
    &.active {
      margin-left: -$sidebar-width-full;
      ~ .workspace {
        transform: translateX(0);
      }

      &.sidebar-fixed ~ .workspace {
        transform: translateX(0);
        margin-left: 0;
      }
    }
  }
}


// Sidebar Fixed

.sidebar {
  &-fixed {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 999;

    &.active ~ .workspace {
      margin-left: $sidebar-width-full;
    }

    &:not(.active) ~ .workspace {
      margin-left: 0;
    }
  }
}


// Brand

.sidebar {
  &-brand {
    height: $sidebar-brand-height;
    margin: 0 auto;
    max-width: 100%;
    width: auto;

    .brand-logo > svg,
    .brand-logo > img {
      height: $sidebar-brand-height;
      width: auto;
      max-width: 100%;
    }
  }
}


// Color

.sidebar {
  &-dark, &.bg-dark {
    background-color: var(--dark);
    color: var(--light);

    .sidebar-nav a {
      color: var(--light) !important;
    }
  }
}


// Color variants

.sidebar.sidebar-bg-colored, .sidebar.sidebar-alt {
  background-color: var(--accent);
  color: var(--light);

  .sidebar-item,
  .list-group-item,
  .sidebar-dropdown-item {
    color: var(--light);
  }
}
