[data-sticky-class],
[data-sticky] {
  transition: all 0.05s ease-in-out;
}

.stuck {
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 9996;

    &.shadow-sm, &.sticky-shadow {
      box-shadow: 0 .245rem .25rem -2px rgba(0,0,0,.075)!important;
    }
  }
}
